.sidebar
	.about
		.about_title
			Quién soy
		.about_info
			%a{href: '/quiensoy', class: 'about_link'}
				= image_tag('mariujuli.jpg')
				%span
					Mamá a tiempo completo de una pequeñita que amo con locura. Aquí encontrarás ideas, experiencias e inspiración para disfrutar al máximo ser mamá.
	.instagram
		.instagram_title
			Instagram
		.instagram_info
			%ul{id:"instagram"}