- title 'Mami Amiga'
- set_meta_tags :og => {:title => 'Mami Amiga', :url => 'http://mamiamiga.com', :image => image_tag('logo-web.png'), :description => 'Mamá a tiempo completo de una pequeñita que amo con locura. Aquí encontrarás ideas, experiencias e inspiración para disfrutar al máximo ser mamá.' }
- set_meta_tags description: 'Mamá a tiempo completo de una pequeñita que amo con locura. Aquí encontrarás ideas, experiencias e inspiración para disfrutar al máximo ser mamá.'
- set_meta_tags keywords: %W[mamiamiga mami mama amiga loncheras maternidad consejos]

.col-md-8
	.post_title
		¿Quién soy?
	.post_content
		%p
			¡Hola!
		%p
			Soy Mariu, tengo 32 años y actualmente trabajo en casa, dedicándome al 100% a mi familia hermosa y a mi pequeña Julieta.
		%p
			Mi vida cambió por completo cuando me convertí en mamá y hoy, luego de muchos años escribiendo sobre moda y tendencias en mi blog Ropero Trapero, decido dar el giro que necesitaba y empezar a compartir mis experiencias como mamá a tiempo completo en mi nueva casita virtual MamiAmiga.com.
		%p
			Aquí encontrarás muchas anécdotas, un poco de catarsis (siempre necesaria), inspiración, manualidades, recetas, un poco de moda, tips de belleza; además de muchas ideas y consejos para que disfrutes al máximo ser mamá.
		%p
			¡Bienvenida a Mami Amiga! 
.col-md-4
	= render partial: 'sidebar'
