%h4
  ¡Muchas gracias por contactarme!

%p
  En breve me pondré en contacto contigo, de lo contrario escríbeme a:
  %span.bold
    mariu@mamiamiga.com

%p
  = link_to 'Volver', root_url, :class => 'btn btn-primary'