/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
	background: asset-url('patron.png') no-repeat;
}

@font-face {
font-family: 'I love the smell of rain';
font-style: normal;
font-weight: normal;
src: local('I love the smell of rain'), asset-url('rain.ttf') format('ttf');
}

.container {
	width: 100%;
	height: 98vh;
	min-height: 700px;
	padding-top: 150px;
	margin-top: 20px;
	text-align: center;
	font-family: 'I love the smell of rain';
	font-weight: normal;
	font-size: 2em;
	background-color: white;
}