/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootsy
 *= require social-share-button
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "social-share-button";
@import 'bootstrap-datetimepicker';

/* General Styles */

@font-face {
  font-family: 'I love the smell of rain';
  font-weight: normal;
  font-style: normal;
  src: font-url('rain.ttf');
  src: font-url('rain.ttf') format('truetype');
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
	  padding-bottom: 20px;
    overflow-x: hidden; 
}

.clear {
	clear:both;
}

.line:after {
	content:"";
	margin: 150px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-left-05 {
	margin-left: 5px;
}

.no_link_style_dark {
	color: #6FB7D6;
}

.no_link_style_light {
	color: white;
}

.no_link_style_dark:hover, .no_link_style_light:hover,  {
	text-decoration: none
}

body {
   font-family: 'Geneva', 'Helvetica';
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 1.7em;
}

.btn-success {
	background-color: #F98CB6 !important;
	border-color: #F98CB6 !important;
}

.btn-danger {
	background-color: #A589C1 !important;
	border-color: #A589C1 !important;
}

/* Header */

#user {
	background-color: grey;
	color: white;
	height: 30px;
	padding: 2px;
}

.exit_button {
	height: 25px;
	padding: 2px;
	width: 50px;
}

#header {
	width: 100%;
	height: 106px;
	background-image: asset-url('bg-top.png');
	background-size: 100% 106px;
	padding-left: 20px;
	padding-top: 12px;
	font-family: 'I love the smell of rain';
}

#header img {
	width: 147px;
}

#main-menu {
	border: 2.5px dashed #F98CB6;
}

#main-menu li {
	list-style:none;
	font-family: 'I love the smell of rain';
	border-bottom: 1px dashed #F98CB6;
}

#main-menu li:last-child {
	border-bottom: none;
}

.navbar-toggle {
	border-color: #F98CB6;
	background-color: transparent;
	margin-right: 7px !important;
}

.icon-bar {
	background-color: #F98CB6;
}

.navbar-collapse {
	background-color: white;
	color: #F98CB6;
	width: 30%;
	float: right;
	margin-left: 0;
	margin-right: 0;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 1.6em;
}

.navbar-collapse ul {
	margin-bottom: 0;
}

.navbar-collapse a {
	display: block;
	text-decoration: none;
	color: black;
}

.navbar-collapse a:hover {
	background-color: #F98CB6;
	color: white;
}

.navbar-collapse ul {
	padding: 1px;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	max-height: 354px !important;
}

.navbar {
	float: right;
}

.social-icons {
	float: right;
	margin-top: 47px;
	margin-right: 5px;
}

.social-icons a {
	padding-right: 1px;
}

.social-icons a:hover {
	text-decoration: none;
	opacity: 0.7;
}

.social-icons img {
	width: 25px !important;
}

.fb-share-button {
	display: block;
	margin-left: 5px;
}

ul.child_menu {
	display: none;
	height: 64px;
	float: left;
	width: 100%;
}

ul.child_menu > li {
	display: block !important;
	font-size: 1em !important;
	max-width: 200px !important;
}

/* Posts - General */

.read_more {
	display: block;
	margin-top: 20px;
	font-family: 'I love the smell of rain';
	font-size: 1.8em;
	color: #F98CB6;
	text-align: center;
	margin: 0 auto;
	font-stretch: expanded;
}

.read_more:after {
    background-image: asset-url('mas.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
  }

  .read_more_white {
  	color: white;
  }


.read_more:hover {
	text-decoration: none;
	opacity: 0.8;
}

.post_date {
	color: #6FB7D6;
	font-size: 0.8em;
}

.post_title {
	font-family: 'I love the smell of rain';
	color: #6FB7D6;
	font-size: 2em;
	line-height: 1em;
	margin: 8px 0;
}

.post_content {
	margin-bottom: 20px;
	line-height: 2em;
}

/* side bar */

.about, .mbp {
	padding: 20px 40px;
	padding-top:0px;
	font-family: 'I love the smell of rain';
}

.about_title, .instagram_title, .mbp_title {
	border: 2.5px dashed #F98CB6;
	font-size: 1.8em;
	text-align: center;
	height: 50px;	
	padding-top: 8px;
}

.about_info img, .mbp_info img {
	width: 100%;
	margin-bottom: 0;
}

.about_info a {
	font-size: 1.4em;
	color: #A589C1;
}

a.about_link, a.mbp_link {
	display: block;
}

a.about_link:hover, a.mbp_link:hover {
	text-decoration: none;
	opacity: 0.7
}

.instagram {
	font-family: 'I love the smell of rain';
	padding: 10px 40px;
	padding-top:0px;
	overflow: none;
}

.instagram_title {
	height: 50px;
}

.instagram_info {
	overflow: auto;
	height: 629px;
	text-align: center
}

.instagram img {
	width: 100%;
	padding:0;
	margin:0;
}

.instagram ul {
	padding: 0 !important;
}

.instagram li {
	list-style: none;
}

.sidebar {
	margin-bottom: 45px;
}

#sponsor_bar {
	height: 70px;
	background: asset-url('patron.png');
	margin: 10px auto;
}

#footer {
	color:#A589C1;
	text-align: center;
	font-size: 0.8em;
	height: 50px;
	padding-top: 25px;
}

/* Contact Form */

.contact_form {
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	height: 300px;
}

/* Desktop */

@media screen and (min-width: 768px) {

	#container {
		width: 95%;
		margin: 0 auto;
	}

	/* Header */

	#header {
		height: 140px;
		background-size: 100% 140px;
		padding-left: 55px;
	}

	#header img {
		width: 200px;
	}

	#main-menu {
		display: block;
		height: 50px;
	}

	#main-menu ul {
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}

	#main-menu li {
		display: block;
		float: left;
		font-size: 1.5em;
		width: 100%;
		max-width: 12.5%;
		text-align: center;
	}

	.navbar-fixed-top {
		position: relative;
		width: 100%;
	}

	.navbar-collapse {
		width: 100%;
		clear: both;
		font-size: 1.2em;
	}

	a.close-mobile-menu {
		display: none;
	}

	.social-icons {
		float: right;
		margin-top: 36px;
		margin-right: 40px;
	}

	.social-icons a {
		padding-right: 20px;
	}

	.social-icons img {
		width: 50px !important;
	}

	#main-menu li {
		border-bottom: none
	}

	ul.child_menu {
		height: 0px;
	}

	ul.child_menu > li {
		border: 2.5px dashed #F98CB6 !important;
		background-color: white;
	}

	ul.child_menu > li:first-child {
		border-bottom: none !important;
	}

	ul.child_menu > li:last-child {
		border-top: none !important;
	}




}
