/* Mobile first */

.featured_posts {
	list-style: none;
	padding: 0;
}

.featured_posts li:last-child {
	display:none;
}

.home_featured {
	float:left;
	width: 33.3%;
}

.home_featured img {
	width: 100%;
}

.slideme {
	width: 100%;
	height: 100%;
}

.slideme img {
	width: 100%;
}

.slideme_container {
	position: relative;
	width: 100%;
	padding: 0;
	clear: both;
}

.slideme_container button {
	position: absolute;
	top: 50%;
	z-index: 1000;
	width: 20px;
	border-radius: 100% 0 0 100%;
	height: 20px;
	border: none;
	padding: 0;
}

.slideme_container button.next {
	position: absolute;
	right: 0px;
	border-radius: 0 100% 100% 0;	
	background: asset-url('arrow-right.png') no-repeat;
	background-size: 20px 20px;
}

.slideme_container button.prev {
	background: asset-url('arrow-left.png') no-repeat;
	background-size: 20px 20px;
}

.top_post, .bottom_post {
	clear: both;
	padding: 40px;
}

.bottom_post {
	margin: 0 auto;
	background-color: #6FB7D6;
	color: white;
	margin-bottom:30px;
	padding: 40px;
}

.top_post {
	padding-top: 0px
}

.bottom_post .post_title, .bottom_post .post_date {
	color: white;
}

.image_post {
	position: relative;
	display:block;
}

.image_post_img:hover {
	opacity: 0.5;
}

.image_post_title_slider, .image_post_title_featured {
	position: absolute;
	top: 0;
	padding: 3px;
	color: white;
	font-size: 0.7em;
	margin: 0 auto;
	width: 100%;
	font-family: 'I love the smell of rain'
}

.image_post_title_slider {
	background-color: rgba(111,183,214,0.6);
}

ul.featured_posts > li:nth-child(odd) > a > .image_post_title_featured {
	background-color: rgba(249,140,182,0.6);
}

ul.featured_posts > li:nth-child(even) > a > .image_post_title_featured {
	background-color: rgba(111,183,214,0.6);
}

/* Desktop */

@media screen and (min-width: 768px) {

	.slideme_container {
		float: left;
		width: 66.6%;
	}


	.featured_posts li:last-child {
		display:inline;
	}

	.image_post_title_slider, .image_post_title_featured {
		font-size: 1.2em;
		padding: 5px;
	}

}
