.navbar.navbar-fixed-top
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse#main-menu
    %ul
      %li
        %a{href: "#"} inicio
      %li
        %a{href: "#"} quién soy
      %li
        %a{href: "#"} vida de mami
      %li
        %a{href: "#"} inspírate
      %li
        %a{href: "#"} moda
      %li
        %a{href: "#"} engríete
      %li
        %a{href: "#"} novedades
      %li
        %a{href: "#"} contacto
      %li
        %a{"data-target" => ".navbar-collapse.in", "data-toggle" => "collapse", :href => "#contact", class: 'close-mobile-menu'} cerrar