.navbar.navbar-fixed-top
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
  .collapse.navbar-collapse#main-menu
    %ul
      %li
        %a{href: root_path} inicio
      %li
        %a{href: '/quiensoy'} quién soy
      %li
        %a{href: "/vidademami"} vida de mami
      %li
        %a{href: "/inspirate"} inspírate
      %li.parent_menu.clearfix
        %a{href: "javascript:;"} moda
        %ul.child_menu
          %li
            %a{href: "/modamamas"} - nosotras
          %li
            %a{href: "/modapeques"} - niños
      %li
        %a{href: "/engriete"} engríete
      %li
        %a{href: "/novedades"} novedades
      %li
        %a{href: "/contacto"} contacto
      %li
        %a{"data-target" => ".navbar-collapse.in", "data-toggle" => "collapse", :href => "#contact", class: 'close-mobile-menu'} cerrar